/* theme: gruvbox-light-float */
* {
    th-bg:            rgba(251, 241, 199, 96%);
    th-fg:            rgb(60, 56, 54);
    th-fg-selected:   rgba(60, 56, 54, 100%);
    th-row-alt:       rgba(242, 229, 188, 0.96);
    th-row-selected:  rgba(213, 196, 161, 0.96);
    th-border-color:  rgba(189, 174, 147, 0.95);
    th-separator:     rgba(189, 174, 147, 0.9);
}
